/* a mae de todos */
.main_login{
    display: flex;
    height: 100vh;
}


/*form de login da esquerda */
.Banner{
    background-image: url("../../assets/img/fundoLogin.png");
    flex: 1;

    /*modificar algumas caracteristicas ds imagem */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


/*form de login da direita */
.section_login{
    flex: 1;
    background-color: #cc3f55;

    /*centralizar o campo: */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .section_login img{
    width: 290px;
} */

.form_login{
    color: white;

    width: 70%;
    height: 50%;

    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}

.form_login h1{
    text-transform: uppercase;
}

.campos_login{
    width: 70%;
}

.campo_input{
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.campo_input input{
    height: 35px;

    padding: 1px 10px;

    border: none;
    outline: none;

    border-radius: 6px;

    box-shadow: 1px 4px 4px 0px #00000045;
}

@media screen and (max-width: 768px){
    /* 0px -> 768px */
    .Banner{
        display: none;
    }
}