.botao{
    /* padding: 5px 100px; */
    width: 200px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: #73061b;
    color: white;
    border-radius: 6px;
    /* negrito */
    font-weight: bolder;
}