.listagem{
    /* height: 100vh; */
    height: calc(100vh - (75px + 252px + 40px));

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px 0;
}

.listagem h1{
    text-transform: uppercase;
}

.listagem hr{
    max-width: 300px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
    border-color: #73061b;
}

.item_lista img{
    height: 28px;
}

.tabela{
    width: 100%;
    margin-top: 30px;
}

.tabela table{
    width: 100%;

    border-collapse: collapse;
}

.table_cabecalho :first-child{
    width: 300px;
}

.table_cabecalho :nth-child(2){
    width: 200px;
}

.tabela .table_cabecalho th{
    width: 100px;
}

.item_lista td{
    padding: 20px 0 5px 0;
}

.item_lista{
    text-align: center;
    border-bottom: solid 1px #73061b20;
}

@media screen and (max-width: 768px) {

.tabela thead{
    display: none;
}

/* um elemento abaixo do outro */
.item_lista td{
    display: grid;
    text-align: left;
    padding: 10px 10px 10px 0;
    grid-template-columns: 10ch auto;
}

.item_lista td::before{
    content: attr(data-cell) ":";
    font-weight: 700;
    width: 80px;
    text-align: left;
}

.item_lista td:last-child{
    margin-bottom: 24px;
}
.item_lista td:first-child{
    margin-top: 24px;
}

}